<a href="javascript:window.history.back()">뒤로가기</a>
<table class="cart">
  <thead>
    <tr>
      <th></th>
      <th>상품명</th>
      <th>금액</th>
      <th>수량</th>
    </tr>
  </thead>
  <tbody>
    {{#cart}}
    <tr>
      {{#image}}
      {{#if @first}}
      <td class="image">
        <img src="{{this}}" alt="{{ name }}" />
      </td>
      {{/if}}
      {{/image}}
      <td>{{ name }}</td>
      <td class="right">{{ price }}</td>
      <td class="center">{{ amount }}</td>
    </tr>
    {{/cart}}
  </tbody>
</table>