<div class="home">
  <h1>안녕하세요! {{ username }} 님</h1>
  <a href="/cart">장바구니</a>

  <h2 class="h2">신제품</h2>
  <ul class="product-list">
    {{#products}}
    <li class="product-item" data-id="{{ id }}">
      <div class="product-image">
        {{#image}}
        {{#if @first}}
        <img src="{{ this }}" alt="">
        {{/if}}
        {{/image}}
      </div>
      <div class="product-name">{{ name }}</div>
      <div class="product-price">{{ price }}</div>
      <button class="button cart">장바구니 담기</button>
    </li>
    {{/products}}
  </ul>
</div>